@import "partials/variables";
@import "modules/nav";
@import "modules/layout";
@import "modules/full-page-overrides";
@import "modules/contact";
@import "modules/services";


*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}