.map{
  width: 100%;
  height: 40vh;
  background-image: url(../img/map.png);
  background-size: 200%;
  background-position: center center;
  background-repeat: no-repeat;
}
.address-wrapper{
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  height: 60vh;
  top: 40%;
  padding-top: 0;
  .site-contact-logo{
    background: url(../img/logo.png);
    height: 100px;
    background-size: 150px auto;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  h2{
    font-size: 25px;
    padding: 10px 0;
    font-family: 'wals-light';

  }
  p{
    width: 90%;
    font-size: 16px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
  }
  .telephone{
    padding-top:20px;
  }
  .copyright-info{
    font-size: 12px;
    position: absolute;
    bottom:10px;
    right:0;
    font-family: 'wals-light';
  }
}
.fp-viewing-contact{
  .address-wrapper {
    h2 {
      animation: littlebrurySlide 0.4s cubic-bezier(0.3, 2, 0.35, 1.45);
      animation-delay: 0.5s;
    }
    p{
      animation: littlebrurySlide 0.4s cubic-bezier(0.3, 2, 0.35, 1.45);
      animation-delay: 0.75s;
    }
    .telephone{
      animation: littlebrurySlide 0.4s cubic-bezier(0.3, 2, 0.35, 1.45);
      animation-delay: 1s;
    }
  }
}

@media screen and (min-width:800px) {
.map {
  width: 50%;
  height: 100vh;
  background-size: auto 100%;
  background-position: center center;
}
.address-wrapper{
  width: 50%;
  height: 100vh;
  top: 0;
  padding-top: 0;
  padding-top: 150px;
  h2{
    padding: 20px 0;
    font-size: 30px;
  }
  p{
    width:60%;
    font-size: 18px;
    line-height: 32px;
  }
}
}