/* Section 1
 * --------------------------------------- */
#home{
  background-color: #BFDA00;
}
#home h1{
  color: #444;
}
#home p{
  color: #333;
  opacity: 0.4;
}


/* Section 2
 * --------------------------------------- */
#section1{
  transition:all 1s linear;
}


/* Section 3
 * --------------------------------------- */
#section2{
  background-color: #2C3E50;
}
#section2 h1{
  color: #F2F2F2;
}
#section2 p{
  opacity: 1;
  color:#fff;
}